{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta name="robots" content="noindex">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Web'dash</title>
	<link rel="stylesheet" type="text/css" href="{% static 'dash/style.css' %}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="icon" href="{% static 'assets/pics/favicon.png' %}">
</head>
<body>
	
	{% include 'dash/navbar.html' %}


<div class="grid">
{% include 'dash/sidebar.html' %}

    	<main class="main">

			<div class="row">
                <div class="card-03">
					{% for message in messages %}
						<p align="center"><h3 style="margin: 0 70px; display: block">{{message}}</h3></p>
					{% endfor %}
                </div>
            </div>
			<div class="row">
                <div class="card-03">
					<a id="button" href="{% url 'upload-connecting' %}">Upload Connecting</a>
                </div>
            </div>
            {% for connecting in connectings %}
    		<a href="{% url 'update-connecting' connecting.id %}"><div class="row">
                <div class="card-02">
                    <div class="row">
                        <img src="{{connecting.image.url}}" alt="" style="max-width: 200px; margin: 5px 40px">
                        <div>
                            <p><b>{{connecting.title}}</b></p>
                            <p>{{connecting.category}}</p>
                            <p><a id="button-delete" href="{% url 'delete-connecting' connecting.id %}">Delete {{connecting.title}}!</a></p>
                        </div>
                    </div>
                </div>
            </div></a>
            {% endfor %}

           {% include 'dash/footer.html' %}
		</main>
</div>

	</body>
</html>