{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta name="title" content="Contact | Eszter Wolf">
	<meta name="description" content="Email: es.wolfszuts@gmail.com, Studio: 1027 Budapest, Margit körút 36.">
	<meta name="keywords" content="Wofl Eszter festő, wolf eszter festő, Wolf Eszter, Eszter Wolf painter, eszter wolf painter, eszter wolf, contact">
	<meta name="robots" content="index, follow">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="language" content="English">
	<meta name="revisit-after" content="31 days">
	<meta name="author" content="Web'Still">
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Eszter Wolf - Contact</title>
	<link rel="stylesheet" href="{% static 'assets/style/style.css' %}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
	<link rel="icon" href="{% static 'assets/pics/favicon.png' %}">
	<script src="https://kit.fontawesome.com/0fab535b80.js" crossorigin="anonymous"></script>
</head>
<body>

	 {% include 'navbar.html' %}

	<main>

			<div class="title-dark">
				<h2>Contact</h2>
			</div>
			<div class="light" style="padding: 20px;margin: 20px 60px">
				<p><b>Email: </b> es.wolfszuts@gmail.com</p>
				<p><b>Studio: </b> 1027 Budapest, Margit körút 36.</p>
				<div class="row" style="justify-content: left">
					<a href="https://www.behance.net/eszterwolf" target="blank" style="margin: 20px; font-size: 2rem"><i class="fab fa-behance"></i></a>
        			<a href="https://www.instagram.com/thingsmatternotforms/" target="blank" style="margin: 20px; font-size: 2rem"><i class="fab fa-instagram"></i></a>
        			<a href="https://www.facebook.com/e.szuts" target="blank" style="margin: 20px; font-size: 2rem"><i class="fab fa-facebook"></i></a>
				</div>
			</div>

		{% include 'footer.html' %}
	</main>

</body>
</html>