{% load static %}


<!DOCTYPE html>
<html>
<head>
    <meta name="title" content="CV | Eszter Wolf">
    <meta name="description" content="I have an MA in Painting from the Hungarian University of Fine Arts. My master was Dóra Maurer.">
    <meta name="keywords" content="Wofl Eszter festő, wolf eszter festő, Wolf Eszter, Eszter Wolf painter, eszter wolf painter, eszter wolf, cv, CV, wolf eszter CV, Eszter Wolf CV">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="revisit-after" content="31 days">
    <meta name="author" content="Web'Still">

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Eszter Wolf - CV</title>
	<link rel="stylesheet" href="{% static 'assets/style/style.css' %}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
	<link rel="icon" href="{% static 'assets/pics/favicon.png' %}">
</head>
<body>

	{% include 'navbar.html' %}

	<main>

			<div class="title-dark">
				<h2>CV</h2>
			</div>
			<div class="light">
				<div class="wrapper">
					<div class="text">
						<p><b>Education</b></p>
                        <p>I have an MA in Painting from the Hungarian University of Fine Arts. My master was Dóra Maurer. From 2010 to 2013 I took the Phd program at the Hungarian University of Fine Arts Doctorate School. My supervisor was Zoltán Szegedy-Maszák. Closely related to my Phd research (“Groupmachine – social dreamwork as Art”) I have received my psychodrama assistant degree in 2018 from the Hungarian Psychodrama Association. Languages: english, french - intermediate exam.</p>
                        <br><br>
                        <p><b>Teaching activity, collective art groups</b></p>
                        <p>
                            <ul>
                                <li><b>2020</b> - Collective Art Workshop in CSSP (http://www.spanishservices.org/en/), Toronto</li>
                                <li><b>2018</b> - DemoLab – leading workshops in ”KISKÉPZŐ” Secondary School of Visual Arts, Budapest</li>
                                <li><b>2016</b> - 2017 Collective Art Experience – leading regular group workshops in Ludwig Museum, Budapest</li>
                                <li><b>2016</b> - 2017 Women painters project, leading a collective painting course and Roma day event at Rákospalota Correctional </li>
                                <li>Institute for Girls and Central Special Children’s Home, Budapest</li>
                                <li><b>2013</b> - 2014 Art teacher. Mária Göllner Regional Waldorf Grammar school, Budapest</li>
                            </ul>
                        </p><br><br>

                        <p><b>Memberships</b></p>
                        <p>
                            <ul>
                                <li><b>2018</b>Hungarian Psychodrama Association</li>
                                <li><b>1999</b>S.Y.A Studio of Young Artists Association</li>
                                <li><b>1999</b>MAOE Hungarian Artists National Association</li>
                            </ul>
                        </p><br><br>

                        <p><b>Prizes, scholarships, residencies</b></p>
                        <p>I have won the artistic support of the National Cultural Found several times as well as the support of the Social Renewal Operational Programme as a Phd student.
                            I have attended residencies in Hungary and abroad, mostly in France and in Italy (UNIDEE - University of Ideas, Cittadellarte - Fondazione Pistoletto, Biella).</p>
                            <br><br>
                        <p><b>Exhibition – solo – selected</b></p>
                        <p>
                            <ul>
                                <li><b>2020</b> “God and dust.. and Corona”, Tér Gallery, Budapest</li>
                                <li><b>2019</b> “Afrika”. Eötvös10 Gallery, Budapest</li>
                                <li><b>2014</b> “The body enters the house”. Proce üss exhibition with Laura Somogyi, Imre Lepsényi and Mónika Zsikla. FKSE Studio Gallery, Budapest</li>
                                <li><b>2013</b> “Café á vidya”. Process exhibition with Iván Patrik Kund. Labor, Budapest</li>
                                <li><b>2011</b> “According to the Laws of Physics” – Aritmia 2011. ICA-D. Dunaújváros</li>
                                <li><b>2011</b> “Selection”. Labor, Budapest</li>
                                <li><b>2008</b> “Good Relationship”. Artus Art Laboratory, Budapest</li>
                                <li><b>2008</b> Gallery by night. FKSE Studio Gallery, Budapest</li>
                                <li><b>2002</b> Óbudai Pincegaléria, Budapest</li>
                                <li><b>2001</b> “Picnic on the Carpet”. Collegium Budapest, Budapest</li>
                            </ul>
                        </p>
                        <br><br>

                        <p><b>Exhibition – group – selected</b></p>
                        <p>
                            <ul>
                                <li><b>2019</b> “Update” Bartók1 Gallery, Budapest</li>
                                <li><b>2015</b> “Group”. FKSE Studio Gallery, Budapest</li>
                                <li><b>2015</b> “Communal Space”. Ottó Herman Museum, Miskolc</li>
                                <li><b>2013</b> “Coded Images” - Photography of Computer Science. Akvárium, Budapest</li>
                                <li><b>2012</b> “Necunoscutul Comun”. Asociatia Medium Contemporan Magma, Sf. Gheorghe</li>
                                <li><b>2011</b> “Works made by human intervention”. Paksi Képtár, Paks</li>
                                <li><b>2011</b> “Budapest Áramlat”. Virág Judit Gallery, Budapest</li>
                                <li><b>2008</b> “Fixing” Vam Design - Nagyházi Gallery, Budapest</li>
                                <li><b>2007</b> Artus Art Laboratory Collection, Budapest2007 Artus Art Laboratory Collection, Budapest</li>
                                <li><b>2006</b> Artus Art Laboratory Collection, Budapest</li>
                                <li><b>2003</b> “Water” The Pit. Akvárium, Budapest</li>
                                <li><b>2001</b> “Short Stories”. Budapest Galéria Lajos utcai kiállítóháza, Budapest</li>
                                <li><b>2000</b> “Dialogue” Kortárs magyar festészet az ezredfordulón. Mücsarnok Kunsthalle, Budapest</li>
                                <li><b>1999</b> Exhibition of the Baumax-x Talent Revealing Competition. Collegium Hungaricum, Vienna</li>
                                <li><b>1999</b> Germination XI. Centre D’Art Contemporain de Kerguéhennec, France</li>
                                <li><b>1998</b> Exhibition of the Baumax-x Talent Releaving Competition. Center of Baumax-x, Budapest</li>
                            </ul>
                        </p>



                    </div>
				</div>
			</div>

		{% include 'footer.html' %}

	</main>

</body>
</html>